*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

.apple{
    position: absolute;
    top: 20px;
    right: 20px;
    transform-origin: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    z-index: 1;
    background-color: black;
}

.dot{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: blue;
    margin: -12px;
    transition: all calc(attr(data-cursor));
    transition-timing-function: linear;
}

p.mouse{
    position: absolute;
    top: 20px;
    right: 50px;
}

p.click{
    position: absolute;
    bottom: 20px;
    left: 50px;
}